@{
    ViewData["Title"] = "AgriTech Dashboard";
}


<div class="jumbotron">
    <h1>Welcome to the Agri Tech energy usage dashboard</h1>

    <p>Select the single farm page if you wish to look at a farms single machine data</p>

    <p>Select the comparison page if you want to compare a farm against the average usage of all the farms</p>
</div>