@{
    ViewData["Title"] = "AgriTech Dashboard";
}


<div class="jumbotron">
    <center>
        <p>
            <h1>Welcome to AgriTech</h1>
            <h2>A Web-based Dashboard, displaying Energy Usage in Dairy Farming</h2>
        </p>

        <p>Select 'View Single Farm' page if you wish to look at a single farms energy usage data</p>

        <p>Select the 'Compare Farms' page if you want to compare a single farms energy usage against the average usage of all the farms</p>
    </center>
</div>

