@{
    ViewData["Title"] = "AgriTech Dashboard";
}


<div class="jumbotron">
    <center>
        <p>
            <h1>Welcome to AgriTech</h1>
            <h2>A Web-based Dashboard, displaying Energy Usage in Dairy Farming</h2>
        </p>

        <p>Please select a page from the menu above.</p>

        <p>Selecting 'View Single Farm' will allow you to select various Farms from a drop down list. This will display a chart for each machine that farm contains.</p>

        <p>
            Select the 'Compare Farms' page if you want to compare a single farms energy usage against the average usage of all the farms. View the electricity usage against the averag for other farms.
            View the grid supplied electricity usage compared to the renewable electricity supply.
        </p>
    </center>
</div>

