@model IEnumerable<DairyDashboard.Models.Farm>

@{
    ViewData["Title"] = "Farms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Compare Farm Data</h1>
<head>
    <!-- js -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/chartsjs/Chart.bundle.min.js"></script>
    <script src="~/lib/utils.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Farm
    </button>
    <div class="dropdown-menu">
        @foreach (var item in Model)
        {
            <a class="dropdown-item" href="#" id=@Html.DisplayFor(modelItem => item.Id)>@Html.DisplayFor(modelItem => item.FarmName)</a>
        }
    </div>
    

    <div id="NoDataLabel"></div>

    <div class="container m-5">
        <div class="row">
            <div class="col-md-4">
                <p>The current farms machinery electricity usage compared to the average of the other farms.</p>
                <div id="leftChart" class="card mb-lg-4 box-shadow"></div>
            </div>
            <div class="col-md-4" style="border:thick">
                <p>The current farms electricity usage compared to the average electricity usage on other farms.</p>
                <div id="midChart" class="card mb-lg-4 box-shadow"></div>
            </div>
            <div class="col-md-4" style="border:thick">
                <p>The current farms electricity usage compared with the current farms renewable electricity.</p>
                <div id="rightChart" class="card mb-lg-4 box-shadow"></div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
    })

    $('.dropdown-menu a').click(function () {
        let x = this.id;
        ClearOldMessages();


        $.getJSON("/Farms/GetCompareFarmData",
            {
                farmId: x
            },
            function (usageData) {
                var x = 0;
                if (usageData.length > 0) {
                    var machine_data = [usageData[0], usageData[1]];
                    var electric_data = [usageData[2], usageData[3]];
                    var electric_vs_renewable = [usageData[4], usageData[5]];

                    //farms v avg farms
                    var options = {
                        type: 'doughnut',
                        data: {
                            labels: ['Farm', 'Average'],
                            datasets: [{
                                data: machine_data,
                                backgroundColor: [
                                    window.chartColors.blue,
                                    window.chartColors.yellow
                                ]
                            }]
                        },
                        options: {

                        }
                    }

                    var iDiv = document.getElementById('leftChart');
                    var canvas = document.createElement('canvas');
                    
                    var ctx = canvas.getContext('2d')
                    canvas.id = "canvasId-1"; 
                    iDiv.appendChild(canvas);

                    new Chart(ctx, options);

                    //Farms power vs other farms power
                    var options1 = {
                        type: 'doughnut',
                        data: {
                            labels: ['Current Farms', 'Other Farms'],
                            datasets: [{
                                data: electric_data,
                                backgroundColor: [
                                    window.chartColors.blue,
                                    window.chartColors.yellow
                                ]
                            }]
                        }
                    }

                    var iDiv1 = document.getElementById('midChart');
                    var canvas1 = document.createElement('canvas');

                    var ctx1 = canvas1.getContext('2d');
                    var canvasId1 = "canvasId-2"; 
                    canvas1.id = canvasId1;
                    iDiv1.appendChild(canvas1);

                    new Chart(ctx1, options1);

                    //farms grid vs renewable
                    var options2 = {
                        type: 'doughnut',
                        data: {
                            labels: ['Grid', 'Renewable'],
                            datasets: [{
                                data: electric_vs_renewable,
                                backgroundColor: [
                                    window.chartColors.blue,
                                    window.chartColors.yellow
                                ]
                            }]
                        }
                    }

                    var iDiv2 = document.getElementById('rightChart');
                    var canvas2 = document.createElement('canvas');

                    var ctx2 = canvas2.getContext('2d');
                    var canvasId2 = "canvasId-3";
                    canvas2.id = canvasId2;
                    iDiv2.appendChild(canvas2);

                    new Chart(ctx2, options2);

                }
                else {
                    document.getElementById("NoDataLabel").innerHTML = "There appears to be no data for this Farm";
                }
            })
    });

    function ClearOldMessages() {
        document.getElementById("NoDataLabel").innerHTML = "";
        for (z = 0; z <= 5; z++) {
            var exists = document.getElementById('canvasId-' + z);
            if (exists != null)
                document.getElementById('canvasId-' + z).remove();
        }
    }
</script>
